body, html, #root {
  /* background-color: #012647 !important; */
  background-color: #002c49 !important;
}

.my-navbar {
  color: #fefeff;
  /* background-color: #014d73; */
  background-color: #143859 !important;
}

.my-icon {
  font-size: 2rem;
}

.my-container {
  background-color: #143859;
}

th {
  color: #fefeff !important;
  background-color: #143859 !important;
}

td {
  color: #fefeff !important;
  background-color: #002c49 !important;
}


.ticket-table {
  width: 100%;
  color: #fefeff;
  table-layout: fixed;
  background-color: #143859;
}

.ticket-content {
  color: #fefeff !important;
  word-wrap: break-word;
}

.my-button {
  color: #fefeff !important;
  background-color: #002c49 !important;
}

.my-badge {
  color: #fefeff !important;
  background-color: #002c49 !important;
}

.my-card {
  color: #fefeff;
  background-color: #143859;
}

.my-button-info {
  color: #fefeff !important;
  background-color: #808080 !important;
}



