body, html, #root {
  /* background-color: #012647; */
  background-color: #002c49 !important;
}

.my-navbar {
  color: #fefeff;
  /* background-color: #014d73; */
  background-color: #143859 !important;
}

.my-container {
  
  background-color: #143859;
}

