body, html, #root {
  /* background-color: #012647 !important; */
  background-color: #002c49 !important;
}

.my-navbar {
  color: #fefeff;
  /* background-color: #014d73; */
  background-color: #143859 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.my-icon {
  font-size: 2rem;
}

.my-container {
  background-color: #143859;
}

th {
  color: #fefeff !important;
  background-color: #143859 !important;
}

td {
  color: #fefeff !important;
  background-color: #002c49 !important;
}

.ticket-table {
  width: 100%;
  color: #fefeff;
  table-layout: fixed;
  background-color: #143859;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ticket-content {
  color: #fefeff !important;
  word-wrap: break-word;
}

.add-content {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important;
}

.my-button {
  color: #fefeff !important;
  background-color: #002c49 !important;
}

.my-badge {
  color: #fefeff !important;
  background-color: #002c49 !important;
}

.my-card {
  color: #fefeff;
  background-color: #143859;
}

.my-button-info {
  color: #fefeff !important;
  border: #808080 !important;
  background-color: #808080 !important;
}